In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:100% !important;}
div.CodeMirror {font-family:Consolas; font-size:17pt;}
div.output {font-size:17pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:17pt;}
div.prompt {min-width:70px;}
</style>
"""))

# 4절. 포맷팅

- 포맷팅이란 출력할 문자, 숫자, 날짜 데이터에 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들때 사용

## 4.1 문자열에 형식 지정

In [6]:
name = "홍길동"
age = 30
print(name, '님의 나이는 ', age, '살입니다', sep='')
# 변수와 텍스트를 번갈아 사용해서 형식을 지정하는 것은 가독성이 떨어지고 코드를 작성하기 불편.

홍길동님의 나이는 30살입니다

In [10]:
# 이전 스타일
# %s문자열, %c문자, %d정수(10진수), %f실수, %x 16진수, %o8진수, %% 문자%
"%s님의 나이는 %d살입니다"%(name, age)

'홍길동님의 나이는 30살입니다'

In [14]:
# 새로운 스타일
"{}님의 나이는 {}살입니다".format(name, age)

'홍길동님의 나이는 30살입니다'

In [13]:
"{1}님의 나이는 {0}살입니다".format(age, name)

'홍길동님의 나이는 30살입니다'

## 4.2 format()함수 문법

<font size="6">'{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}'.format(변수명)</font>

In [15]:
# 인덱스 : 출력할 인수의 인덱스(순서)
# 정렬방법 : <기호는 왼쪽정렬, >기호는 오른쪽정렬, ^기호는 가운데 정렬
# 자릿수 : 출력할 자릿수 지정. 변수보다 적은 자릿수가 지정될 경우 무시되고 변수가 다 출력.
# 타입 : d는 10진수, f는 실수, s는 문자, b는 2진수, o는 8진수, x는 16진수

In [16]:
name = input('이름은 ?')
age = int(input('나이는 ?'))
print("{}님의 나이는 {}입니다".format(name, age))
print("{1}님의 나이는 {0}입니다".format(age, name)) # 인덱스는 순서지정

이름은 ?홍길동
나이는 ?18
홍길동님의 나이는 18입니다
홍길동님의 나이는 18입니다

In [19]:
print("{0}살 {1}님은 {0}살이 참 좋은 걸 알려나".format(age, name))

18살 홍길동님은 18살이 참 좋은 걸 알려나

In [22]:
# {}만 쓸 경우 변수의 수와 갯수가 작으면 오류
a, b = 10, 20
print("출력 : {}, {}, {}".format(a, b))

IndexError: Replacement index 2 out of range for positional args tuple

In [27]:
# 숫자의 경우 출력할 변수보다 큰 자릿수를 지정하면 오른쪽 정렬(기본값)
# 문자의 경우 출력할 변수보다 큰 자릿수를 지정하면 왼쪽 정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자리수 지정이 무시되고 다 출력
a = 12345
s = "Hello"
print("출력 : [{}], [{:10}], [{:3}]".format(a, a, a))
print("출력 : [{}], [{:10}], [{:3}]".format(s, s, s))

출력 : [12345], [     12345], [12345]
출력 : [Hello], [Hello     ], [Hello]

In [30]:
a = 12345 # 숫자의 경우 다양한 진수로 표현
print("""출력
10진수 - {:d}, 실수 - {:7.1f}, 
2진수 - {:b}, 8진수 - {:o}, 16진수 - {:x}""".\
      format(a,a,a,a,a))

출력
10진수 - 12345, 실수 - 12345.0,
2진수 - 11000000111001, 8진수 - 30071, 16진수 - 3039

In [32]:
# 정렬방법 < > ^(정확하게 가운데가 안되면 하나 왼쪽)
# {[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}'.format(변수명)
a, b, c = 10, 20, 3
print("출력 : [{:>6d}], [{:<6d}], [{:^6}]".format(a, b, c))

출력 : [    10], [20    ], [  3   ]

In [33]:
# 인덱스:공백대체문자 정렬방법 자릿수 타입
a = 10
s = "Hello"
print("출력 : [{0:$>10}], [{1:*<20}], [{1:_<10.3}]".format(a, s))
                                # 10.3 : 전체 10자리 확보, 변수는 3자리만 출력

출력 : [$$$$$$$$10], [Hello***************], [Hel_______]

In [34]:
# 주의점 : 공백대체문자를 지정할때는 반드시 정렬방법를 표현해야 한다.
print("{0:$10} / {1:*20}".format(a, s))

ValueError: Invalid format specifier

In [42]:
# +를 붙이면 양수의 경우 숫자앞에 부호를 붙여줌
# =를 붙이면 전체 자릿수만큼 출력하는 문자의 맨 앞에 부호 표시(양수는 부호나타나지 않음)
# =+를 사용하면 =도 표시
# 자리수앞에 0을 채우면 빈자리에 0을 채워
# 공백대체문자는 =앞에
# 공백대체문자와 자리수 앞에 0을 붙이는 것을 같이 자리수앞에 0이 무시
  # (공백대체문자와 자리수 앞 0은 공백대체문자가 우선순위가 높음)
a, b = 123, -123
print("출력 : [{:+10}] [{:+10}] [{:+10}]".format(b, a, a))
print("출력 : [{:=10}] [{:=10}] [{:=10}]".format(b, a, a))
print("출력 : [{:=+10}] [{:=+10}] [{:=+10}]".format(b, a, a))
print("출력 : [{:=+10}] [{:=+10}] [{:=+010}]".format(b, a, a))

print("출력 : [{:*=+10}] [{:$=+10}] [{:_=+010}]".format(b, a, a))

출력 : [      -123] [      +123] [      +123]
출력 : [-      123] [       123] [       123]
출력 : [-      123] [+      123] [+      123]
출력 : [-      123] [+      123] [+000000123]
출력 : [-******123] [+$$$$$$123] [+______123]

In [54]:
# 전체자리수.표현될자리수
a = 2.785
s = "Hello"
print("    [0123456789]")
print("a = [{:>10.2}]".format(a))
print("s = [{:>10.2}]".format(s))

    [0123456789]
a = [       2.8]
s = [        He]

In [55]:
# 전체자리수.소수점자리수f  (전체자리수에는 소수점 포함)
print("a = [{:4.1f}]".format(a)) # _ _ . _

a = [ 2.8]

In [57]:
# format함수의 매개변수에 출력포맷
a = 2.785
print("출력 : [0123456789]")
print("출력 : [{:>10.3}]".format(a))
print("출력 : [{:{}{}.{}}]".format(a, '>', 10, 3))

출력 : [0123456789]
출력 : [      2.79]
출력 : [      2.79]

In [58]:
a = 2.785
print("출력 : [0123456789]")
print("출력 : [{:>+10.3}]".format(a))
print("출력 : [{:{}{}{}.{}}]".format(a, '>','+', 10, 3))

출력 : [0123456789]
출력 : [     +2.79]
출력 : [     +2.79]

In [59]:
# 가독성을 높이고자 포맷인자에 이름을 부여
a = 2.785
print("출력 : [0123456789]")
print("출력 : [{:>+10.3}]".format(a))
print("출력 : [{:{dir}{sign}{width}.{precision}}]".format(a, 
                dir='>',sign='+', width=10, precision=3))

출력 : [0123456789]
출력 : [     +2.79]
출력 : [     +2.79]

In [67]:
a = 15
print("10진수 : [{:8d}]".format(a))
print(" 2진수 : [{:08b}]".format(a))
print(" 8진수 : [{:08o}]".format(a))
print("16진수 : [{:02x}]".format(a))

10진수 : [      15]
 2진수 : [00001111]
 8진수 : [00000017]
16진수 : [0f]

## 4.3 날짜 출력

In [69]:
# %Y는 연도4자리, %y는 연도2자리, %m은 월, %d는 일
# %H는 24시간, %I는 12시간, %p는 PM또는AM, %M은 분, %S는 초를 의미
from time import localtime # time 패키지에서 localtime라는 함수 사용
now = localtime()
now # 현재 날짜와 시간

time.struct_time(tm_year=2021, tm_mon=2, tm_mday=22, tm_hour=11, tm_min=19, tm_sec=28, tm_wday=0, tm_yday=53, tm_isdst=0)

In [72]:
# 날짜를 문자열로 출력하기 위해 format보다 strftime()함수 이용
from time import strftime 
print(strftime("%Y년 %m월 %d일 %H:%M:%S", now))
print(strftime("%Y년 %m월 %d일 %p %I:%M:%S", now))

2021년 02월 22일 11:19:28
2021년 02월 22일 AM 11:19:28

In [77]:
# format함수 이용
from datetime import datetime
thatday = datetime(2021, 4, 30, 18, 20, 0)
thatday

datetime.datetime(2021, 4, 30, 18, 20)

In [83]:
print("{:%Y - %m - %d %H:%M:%S}".format(thatday))

2021 - 04 - 30 18:20:00

In [84]:
print("{:%Y - %m - %d %p %I:%M:%S}".format(thatday))

2021 - 04 - 30 PM 06:20:00

In [87]:
name = "홍길동"
age = 30
print(f"Hello, {name}. You are {age} years old")
print("Hello, %s. You are %d years old" % (name, age))
print("Hello, {}. You are {} years old".format(name, age))

Hello, 홍길동. You are 30 years old
Hello, 홍길동. You are 30 years old
Hello, 홍길동. You are 30 years old

# 5절. 연산자

## 5.1 산술연산자

In [88]:
a = 10
print(a ** 3) # a의 3제곱
print(a // 3) # a 나누기 3의 몫
print(a/3)    # 3.3333333
print(9/3)    # 3.0 (파이썬에서 /연산의 결과는 실수)

1000
3
3.3333333333333335
3.0

In [91]:
print(10.0 % 3.0) # 실수끼리 나머지 연산

1.0

In [92]:
print(3.8 % 1.2) # 실수끼리 나머지 연산시 결과가 다소 오차가 존재할 수 있음

0.19999999999999996

## 5.2 대입(할당)연산자
- = += -= //= /= %=

In [95]:
a = 10
a //= 2 # a = a//2
a

5

## 5.3 논리연산자
 - &, |, not, and, or

In [100]:
print((10>3) & (10>5)) # 논리연산자 True & True
print(12 & 1)          # 비트연산   1100 & 0001
print(5 < 8 < 10 < 100)      # 논리연산자를 삼항, 사항, .. 가능

True
0
True

In [101]:
print(10>3 & 10>5) # 연산자 우선 순위 : 비트연산자가 논리비교연산보다 높다
#        0011 & 1010 = 0010 (2)  
# print(10 > 2 > 5 )

False

In [104]:
# ''(빈스트링)은 False로 그외는 True
if '':
    print('빈스트링은 True인가')
else:
    print('빈스트링은 False인가')

빈스트링은 False인가

In [106]:
# 논리연산자에 문자열이 오면 에러
True | ''

TypeError: unsupported operand type(s) for |: 'bool' and 'str'

In [107]:
True | bool('')

True

In [108]:
# 주피터노트북에서 !는 명령행을 실행시킬 수 있음
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 0A69-0FE9

 C:\big\src\08_python 디렉터리

2021-02-22  오후 12:00    <DIR>          .
2021-02-22  오후 12:00    <DIR>          ..
2021-02-22  오전 09:40    <DIR>          .ipynb_checkpoints
2021-02-19  오후 06:20           573,233 ch01_파이썬 개요 및 개발환경 구성.html
2021-02-19  오후 06:16             3,889 ch01_파이썬 개요 및 개발환경 구성.ipynb
2021-02-19  오후 06:19           647,812 ch02_1절_변수, 2절_화면, 3절_기본자료형.html
2021-02-19  오후 06:20            33,302 ch02_1절_변수, 2절_화면, 3절_기본자료형.ipynb
2021-02-22  오후 12:00            24,450 ch02_4절format_5절연산자.ipynb
2021-02-19  오후 02:53               213 ex.py
               6개 파일           1,282,899 바이트
               3개 디렉터리  903,200,739,328 바이트 남음

In [109]:
# 논리의 반전은 ! 아니가 not

In [110]:
not True

False

In [111]:
not 0 # 0은 False. 그 외 숫자는 True

True

In [112]:
not -999

False

In [113]:
a = False
if not a:
    print(a)

False

In [114]:
a, b = 15, 16
if a != b :
    print('두수는 다르다')

두수는 다르다

In [116]:
# and 연산자 : 거짓으로 판별되는 첫번째 항의 결과가 반환
#             모든 항이 참이면 마지막 항의 결과 반환
print(True and 3 and True)

True

In [117]:
print(3 and 2)

2

In [120]:
print(3 and 5.4 and True and 0 and 'Python')

0

In [121]:
# or 연산자 : 참으로 판별되는 첫번째 항의 결과가 반환
#             모든 항이 거짓이면 마지막 항의 결과 반환
print('' or False or None or 0)

0

In [122]:
print('' or 100 or None or False)

100

## 5.4 비교연산자
<pre>
-  > >= < <= == !=
<pre>

In [124]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자 < 한글
'아' > '하'

False

In [126]:
'1' < 'a'

True

In [128]:
True > False # True는 1로 매핑, False는 0으로 매핑

True

In [129]:
int(True), int(False)

(1, 0)

In [130]:
bool(0), bool(-9)

(False, True)

In [133]:
jumsu = int(input('점수를 입력하세요 >')) # input함수는 문자로 반환
if jumsu >= 60 :
    print('합격')
else:
    print('불합격')

점수를 입력하세요 >9
불합격

In [81]:
a=15 #0 ~ 1111
b=2
print("{:08b}".format(a))
print("{:08b}".format(b))
print(a&b)
print(a&b)
print(a&b)
print(a&b)

00001111
00000010

## 5.6 instance

In [105]:
#8절 연습문제
#1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#[출력형식 : 홍길동님의 나이는 23살입니다]
age = 23
name='홍길동'
print('{}님의 나이는 {}살입니다'.format(name,age))


#2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
a = int(input('첫번째 수'))
b = int(input('두번째 수'))

print('{} + {} = {}'.format(a,b,a+b))
print('{} - {} = {}'.format(a,b,a-b))
print('{} * {} = {}'.format(a,b,a*b))
print('{} / {} = {}'.format(a,b,a/b))
print('{} // {} = {}'.format(a,b,a//b))
print('{} % {} = {}'.format(a,b,a%b))

홍길동님의 나이는 23살입니다
첫번째 수3
두번째 수6
3 + 6 = 9
3 - 6 = -3
3 * 6 = 18
3 / 6 = 0.5
3 // 6 = 0
3 % 6 = 3

In [107]:
#3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World’를 ‘World Hello’로 출력하
#세요
a = 'Hello World'
b = a[0:5]
c = a[6:11]
print('{1} {0}'.format(b,c))

#4. x = 'abcdef＇를 이용하여 ‘bcdefa’로 출력하세요(문자 슬라이싱이용).
x = 'abcdef'

print(x[1:]+x[0:1:])

#5. x = ‘abcdef’를 이용하여 ‘fedcba’로 출력하세요
print(x[::-1])


#6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 화
#씨 온도는 소수점 두번째 자리까지 출려되어야 합니다(다음은 섭씨와 화씨의 변환 공
#식입니다. C는 섭씨, F는 화씨)
#C = (F-32) / 1.8
#F = (C*1.8) + 32

c = float(input('섭씨 입력'))
f = (c*1.8) + 32
print('화씨 {}'.format(f))

World Hello
bcdefa
fedcba
섭씨 입력10.2
화씨 50.36

In [113]:
temp = 'Python is easy. Python is smart. python'
temp.split()

['Python', 'is', 'easy.', 'Python', 'is', 'smart.', 'python']

In [142]:
print('첫번째 글자는 {} 마지막 글자는 {}'.format(temp[0], temp[-1]))
print('글자수:',len(temp))

from datetime import time

t= time(7)
print(t)

첫번째 글자는 P 마지막 글자는 n
글자수: 39
07:00:00

In [120]:
t2=time(18,20)
print(t2)

18:20:00

In [124]:
t3=time(18,20,5)
print(t3)

18:20:05

In [126]:
t4 = time(18,20,5,100)
print(t4)

18:20:05.000100

In [132]:
t4 = time(hour = 18, minute=20, second=5, microsecond=100)
print(t4)

t5 = time(microsecond=100)
print(t5)

18:20:05.000100
00:00:00.000100

In [134]:
print(now)

time.struct_time(tm_year=2021, tm_mon=2, tm_mday=22, tm_hour=11, tm_min=19, tm_sec=38, tm_wday=0, tm_yday=53, tm_isdst=0)

In [165]:



abc = 'Hello World'

print(abc.split()[0])

print('{1} {0}'.format(abc.split()[0],abc.split()[1]))

Hello
World Hello