In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:100% !important;}
div.CodeMirror {font-family:Consolas; font-size:17pt;}
div.output {font-size:17pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:17pt;}
div.prompt {min-width:70px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터 구조</font></b>

# 1절. 리스트

## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음. list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱 : 부분 데이터셋을 뽑아 내는 것. 인덱스를 이용해서 쓰기와 읽기를 지원

In [2]:
fruits = ['banana','apple','orange','grape']
type(fruits)

list

In [4]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [5]:
print(fruits[0])

banana

In [6]:
for fruit in fruits :
    print(fruit)

banana
apple
orange
grape

In [8]:
# range(from, to, by) ; from부터 to바로 앞까지 by씩 증가되면서 만들어진 list
      # from 생략시 0부터 / by 생략시 1씩
list(range(6))

[0, 1, 2, 3, 4, 5]

In [9]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [10]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [11]:
for i in range(5):
    print(i, end='\t')

0	1	2	3	4

In [12]:
# 0번째 : banana.... len(fruits):fruits 요소의 갯수
for idx in range(len(fruits)) :
    print('{}번째 : {}'.format(idx, fruits[idx]))

0번째 : banana
1번째 : apple
2번째 : orange
3번째 : grape

In [15]:
numbers = [1,2,3,True, '5']

In [16]:
numbers

[1, 2, 3, True, '5']

In [18]:
# 2차원리스트
numbers_2d =[[1,2,3,4,5],
             [10,20,30,40,50],
             [1,3,5,7,9],
             [2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [20]:
numbers_2d[1][0]

10

In [22]:
for row in numbers_2d:
    for data in row :
        print(data, end='\t')
    print() # 개행

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [29]:
for i in range(len(numbers_2d)): # len(numbers_2d)=4
    for j in range(len(numbers_2d[i])) :
        print("{}행{}열 : {:>2}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 :  1	0행1열 :  2	0행2열 :  3	0행3열 :  4	0행4열 :  5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 :  1	2행1열 :  3	2행2열 :  5	2행3열 :  7	2행4열 :  9
3행0열 :  2	3행1열 :  4	3행2열 :  6	3행3열 :  8	3행4열 : 10

## 1.2 기본 정보 조회

In [9]:
numbers = [1,2,3,4,5]
numbers_2d = [[100,2,3,4,5],
             [10,20,30,40,50],
             [1,3,5,7,9],
             [2,4,6,8,10]]

In [3]:
# 요소 수 
print('numbers의 요소수 : ',len(numbers))
print('numbers_2d의 요소수 :', len(numbers_2d))

numbers의 요소수 :  5
numbers_2d의 요소수 : 4

In [4]:
print('numbers_2d[0]의 요소 수 :', len(numbers_2d[0]))

numbers_2d[0]의 요소 수 : 5

In [5]:
# 최소값 min, 최대값 max
min(numbers), max(numbers)

(1, 5)

In [10]:
# 2차원 리스트에서는 max()함수는 부분 리스트 중 첫 요소가 가장 큰 값을 갖는 리스트를 반환
#                   min()함수는 부분 리스트 중 첫요소가 가장 작은 값을 갖는 리스트를 반환
min(numbers_2d), max(numbers_2d)

([1, 3, 5, 7, 9], [100, 2, 3, 4, 5])

## 1.3 요소 추가

In [12]:
# + 두리스트를 연결
# * 리스트를 곱한 수 만큼 반복
# append() 요소를 맨뒤에 추가
# extend() 리스트를 요소별로 맨 뒤에 추가
# insert() 지정된 index 위치에 삽입

In [14]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [16]:
numbers = [1,2,3]
print(numbers * 3) # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
print('ABC'*3)

ABCABCABC

In [18]:
# append()함수 이용
numbers = [1,2,3]
numbers.append(4) # 요소의 맨 뒤에 추가
numbers

[1, 2, 3, 4]

In [19]:
# extend() 
numbers = [1,2,3]
num     = [4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [20]:
numbers.extend('Hello')
numbers

[1, 2, 3, 4, 5, 6, 'H', 'e', 'l', 'l', 'o']

In [21]:
# insert(idx, 추가할내용) : idx번째 인덱스에 추가할내용 삽입
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

- count() ; 리스트에서 데이터의 갯수 반환
- index() ; 해당 요소의 위치 반환
- [index] ; 인덱스를 이용한 접근

In [22]:
numbers = [1,2,3, [1,2,3], 1,2,3]
numbers_2d = [[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [24]:
numbers.count(2) # 2가 몇개 있는지

2

In [25]:
numbers.count(9)

0

In [26]:
numbers.count([1,2,3])

1

In [27]:
numbers_2d.count(2)

0

In [29]:
numbers_2d.count([1,2,3])

2

In [30]:
# 0번째 인덱스부터 처음 나오는 2의 인덱스
numbers.index(2)

1

In [31]:
# 4번째 인덱스 이후부터 처음 나오는 2의 인덱스
numbers = [1,2,3, [1,2,3], 1,2,3]
numbers.index(2, 4)

5

In [32]:
print(numbers.count(9))
print(numbers.index(9)) # index함수는 없는 값을 찾으면 에러

0

ValueError: 9 is not in list

In [34]:
numbers[7] # 인덱스의 범위를 벗어나면 에러 발생

IndexError: list index out of range

## 1.5 원하는 리스트 내용만 추출 ; 리스트 슬라이싱 - 인덱스 보다 많이 씀

- [from : to : by] ; from부터 to 바로 앞까지 by번 증가하는 index 아이템 추출
                     from,to,by 생략 가능
                     인덱스는 음수 가능

In [35]:
numbers = [1,2,3,4,5]

In [36]:
numbers[2:9] # 2부터 9번 인덱스 바로 앞까지(해당 인덱스가 없을 경우 끝까지)

[3, 4, 5]

In [37]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [38]:
numbers[::]

[1, 2, 3, 4, 5]

In [39]:
numbers[-5:-1]

[1, 2, 3, 4]

In [41]:
numbers[-1:-5] # -1부터 -5바로 전까지 by(1)씩 인덱스를 전진하며 액세스

[]

In [42]:
numbers_2d = [[1,2,3],[10,20,30],[11,12,13],[21,22,23]]
numbers_2d[1:3]

[[10, 20, 30], [11, 12, 13]]

In [43]:
numbers_2d[0][1:3]

[2, 3]

In [44]:
# 람다식을 이용해서 list의 원하는 데이터 액세스

In [47]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 다 가져오기
#for data in numbers:
#    print(data)
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [50]:
# 짝수 데이터만 가져오기
#for x in numbers:
#    if x%2 == 0:
#        print(x)
[x for x in numbers if x%2==0]

[10, 12, 18, 20]

In [52]:
# 10이상의 데이터만 가져오기
[x for x in numbers if x>=10]

[10, 12, 13, 18, 19, 20]

In [60]:
# 과일의 글씨가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [61]:
# 리스트 값의 제곱을 추출하라
L = [1,2,3,4,5]
[x**2 for x in L]

[1, 4, 9, 16, 25]

In [62]:
# 리스트 값의 세제곱을 추출하라
L = [1,2,3,4,5]
[x**3 for x in L]

[1, 8, 27, 64, 125]

In [63]:
# 리스트 값의 두배의 수를 추출하라
L = [1,2,3,4,5]
[x*2 for x in L]

[2, 4, 6, 8, 10]

In [2]:
numbers = [0,1,222,3,4,5,6,7,8,9]

In [4]:
numbers[0:5] = [999,999,999] #부분 리스트를 통쨰로 바꿈(by없이 슬라이싱)
numbers

[999, 999, 999, 7, 8, 9]

In [6]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[0:5] = numbers[5:]
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [9]:
numbers = [0]*10
print('수정전:', numbers)
numbers[::2]=[99,99,99,99,99]
print('수정후:', numbers)
numbers[::2]=[11,11,11]

수정전: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후: [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

ValueError: attempt to assign sequence of size 3 to extended slice of size 5

## 1.7 삭제하기
- pop()
- remove()
- del()

In [19]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
print(numbers.pop(2))
print(numbers)

IndexError: pop index out of range

In [16]:
numbers_2d = [[1,2,3],[10,20,30],[100,100,100]]
print('pop전', numbers_2d)
print(numbers_2d.pop())
print('pop후', numbers_2d)

pop전 [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop후 [[1, 2, 3], [10, 20, 30]]

In [17]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.remove(5))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
# revmove 없는 값을 remove할경우 error

In [21]:
numbers = [0,1,2,3,4]
del numbers[:]
numbers

[]

## 1.8 정렬하기

In [24]:
numbers=[9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬 오름차순 sort()실행 후 리스트가 바뀜
numbers[::-1]  # 내림차순으로 보임

[9, 8, 6, 5, 4, 2, 1, 0]

In [25]:
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [26]:
numbers.sort(reverse=True)
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

In [27]:
numbers.reverse()
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [35]:
numbers=[9,5,1,0,6,4,2,8]
n_asc = n_desc = numbers
n_asc.sort()
n_desc.sort(reverse=True)


print(numbers)
print(n_asc)
print(n_desc)
print(id(numbers))
print(id(n_asc))
print(id(n_desc))

[9, 8, 6, 5, 4, 2, 1, 0]
[9, 8, 6, 5, 4, 2, 1, 0]
[9, 8, 6, 5, 4, 2, 1, 0]
1513033174976
1513033174976
1513033174976

In [36]:
numbers=[9,5,1,0,6,4,2,8]
n_desc = numbers.copy()
n_asc = numbers.copy()
n_asc.sort()
n_desc.sort(reverse=True)

print(numbers)
print(n_asc)
print(n_desc)
print(id(numbers))
print(id(n_asc))
print(id(n_desc))

[9, 5, 1, 0, 6, 4, 2, 8]
[0, 1, 2, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 2, 1, 0]
1513033203328
1513033200896
1513033201152

In [40]:
test = ['a','b','e','f','h']
' '.join(test)

'a b e f h'

In [41]:
l = ['서울'] # 요소가 하나 있는 리스트
print(l)
print(type(l))

['서울']
<class 'list'>

In [44]:
tuple1 = (1)
print(tuple1)
tuple2 = (1,2)
print(tuple2)

1
(1, 2)

In [47]:
numbers = (1,2,1,4,5)
numbers.count(1)

2

In [51]:
data = (1,2,3)
data * 2

data = ('a','b',12)
print(data)

('a', 'b', 12)

# 3절. 딕셔너리

- 중괄호 {} 를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 리스트는 사용 불가. 키에 튜플은 사용 가능
- 값은 중복 가능. 모든 데이터 타입이 가능

In [53]:
dic = {'key1':'value', 'key':'value'}
dic

{'key1': 'value', 'key': 'value'}

In [58]:
dic.get('key1')

dic['key1']
dic['key12']

KeyError: 'key12'

In [59]:
my_dic1 = {1:'Hello', 2:'World', 2:'Python'}
my_dic1

{1: 'Hello', 2: 'Python'}

In [61]:
my_dic1['a']=['홍길동','홍길순']
my_dic1

{1: 'Hello', 2: 'Python', 'a': ['홍길동', '홍길순']}

In [63]:
my_dic3 = {1:'Hello', True:'World', False:'Python', 0:'Hadoop'}
my_dic3

{1: 'World', False: 'Hadoop'}

In [83]:
my_dic = {'name':'홍길동','age':25, 'tel':'010-9999-9999'}

for data in my_dic:
    print('{} : {}'.format(data, my_dic[data]))

    
print('--------------')

for data in my_dic.values():
    print('{0} : {0}'.format(data))

print('--------------')
for data in my_dic.keys():
    print('{0} : {0}'.format(data))

print('--------------')
for key, value in my_dic.items():
    print('{}:{}'.format(key,value))

    
my_dic.keys()
my_dic.values()

name : 홍길동
age : 25
tel : 010-9999-9999
--------------
홍길동 : 홍길동
25 : 25
010-9999-9999 : 010-9999-9999
--------------
name : name
age : age
tel : tel
--------------
name:홍길동
age:25
tel:010-9999-9999

dict_values(['홍길동', 25, '010-9999-9999'])

In [67]:
my_list= ['홍길동',25,'010-9999-9999']
my_tupple = ('홍길동',25,'010-9999-9999')

for data in my_tupple:
    print(data, end='\t')

for idx in range(len(my_list)):
    print('{}번째 데이터 {}'.format(idx, my_tupple[idx]))

홍길동	25	010-9999-9999	0번째 데이터 홍길동
1번째 데이터 25
2번째 데이터 010-9999-9999

In [85]:
s1 = set([1,2,3,4])

s1.add( (5,6,7,8,9))

print(s1)

{1, 2, 3, 4, (5, 6, 7, 8, 9)}


# 합집합

In [91]:
s1 = set([1,2,3,4,5])
s2= set([1,2,3,4,6])
s1 | s2

{1, 2, 3, 4, 5, 6}

# 5절.enumerate

- 반복자 또는 순서 객체로 반복문을 처리 할 때 인덱스 처리를 해결

In [100]:
L = [1, 2, 3]
it = iter(L)
it  
#<...iterator object at ...>
print(it.__next__())  # same as next(it)

print(next(it))

print(next(it))

1
2
3
1
2
3
1
2
3

In [111]:
L=['길자','순자','길동']
set1={'길자','순자','길동'}

for idx in range(len(L)):
    print(idx)

for i in iter(set1):
    print(i)

for i in L:
    print(i)

0
1
2
길자
순자
길동
길자
순자
길동

In [118]:
dic = {"name":"홍길동", 'age':35, 'address':'마포'}

for idx, (key,value) in enumerate(dic.items()):
    print(idx, key, value)

0 name 홍길동
1 age 35
2 address 마포

In [128]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [121]:
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [122]:
data =[200,300,400,500]
numbers.append(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [200, 300, 400, 500]]

In [123]:
numbers[:5:]

[1, 2, 3, 4, 5]

In [125]:
numbers[::2]

[1, 3, 5, 7, 9, 100]

In [177]:
numbers[::2] = [0]*len(numbers[::2])
numbers

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [132]:
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [143]:
member_info = {'name':'홍길동', 'age':20,'address':'서울시 마포구', 'score':90}

In [144]:
member_info.get('address')

'서울시 마포구'

In [145]:
member_info.get('score')

member_info.pop('score')

member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [142]:
member_info['address']  = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [149]:
for key,value in member_info.items():
    print('{} : {}'.format(key,value))

name : 홍길동
age : 20
address : 서울시 마포구

In [152]:
L1 = ('orange','apple','banana','kiwi')
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [160]:
# [0,1,2,3,4,5,6,7,8,9]
print(list(range(10)))
      # [5,6,7,8,9]
print(list(range(5,10))) 
      # [9,8,7,6,5,4,3,2,1,0]
print(list(range(10,0,-1))) 
      # [10,12,14,16,18]
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [161]:
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [168]:
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [172]:
numbers = list(range(10))
numbers[::2]= 
print(numbers)

TypeError: must assign iterable to extended slice

In [182]:
numbers = [0,1,2,3,4,5,6,7,8,9]

len(numbers[::2])

numbers[ : : 2]= [0]*len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [183]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [190]:
my_dic = {'a':10, 'b':20, 'c':30}

#my_dic[0]

print(my_dic['a'])

print(list(my_dic.items())[0][1])

print(list(my_dic.values())[0])

print(my_dic.get('a'))

10
10
10
10